# Build Folders
bin/
obj/

# User-Specific Files
*.user
*.suo
token.txt

# Visual Studio Cache / Options Directory
.vs/
*.ide

# NuGet
# Individual NuGet executables and config files
/src/.nuget/NuGet.exe
/src/.nuget/NuGet.Config

# NuGet packages directories
/src/packages/
packages/
packages/Microsoft.Toolkit.Forms.UI.Controls.WebView.5.0.1

# Rider Project Files
*.idea